doctus-assignment-2021/src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:twilio="http://www.mulesoft.org/schema/mule/twilio"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/twilio http://www.mulesoft.org/schema/mule/twilio/current/mule-twilio.xsd">
	
	<flow name="sample-main">
		<http:listener config-ref="HTTP_Listener_config"
			path="/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="sample-config" />
		<error-handler ref="generic-global-error-handler">
			
		</error-handler>
	</flow>
	<flow name="get:\helloworld:sample-config">
		<flow-ref doc:name="Flow Reference to twilio"
			doc:id="8189c4a0-ec2d-4345-8c81-6e19bd337ca1" name="twilio" />
	</flow>
	<flow name="twilio" doc:id="e06af3aa-354c-459e-88ba-b73d3cf681c7">
		<ee:transform doc:name="Copy_of_Transform Message"
			doc:id="fe816a56-f0cd-431b-9c0b-fcee85f41b31">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/x-www-form-urlencoded
---
{
	MessagingServiceSid: "MGc1123f3abe272cd276ef7c9bc0bf6357",
	From: "+13157109828",
	To: "+919769058858",
	Body: "Hello World !"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<try doc:name="Copy_of_Try"
			doc:id="85642c1f-5cab-492b-b751-fb54c0076d4a">
			<twilio:create20100401-accounts-messagesjson-by-account-sid
				doc:name="Copy_of_Create Message"
				doc:id="f9c050f2-970b-4d65-988c-731f818542f4"
				accountSid="#[Mule::p('secure::twilio.accountSid')]" config-ref="Twilio_Connector_Config"/>
			<logger level="INFO" doc:name="Copy_of_Logger"
				doc:id="5f129c7a-969b-4688-b4f9-dc98b7bffbef"
				message='#["SMS successfully sent"]' />
			<set-payload
				value="#[output application/json --- payload]"
				doc:name="Copy_of_Set Payload"
				doc:id="64e38e51-78ae-45b7-8e21-4735f4b466fe" />
			<error-handler>
				<on-error-continue enableNotifications="true"
					logException="true" doc:name="Copy_of_On Error Continue"
					doc:id="3fd3e90b-d918-455c-b281-786531f4fd3a">
					<logger level="INFO" doc:name="Copy_of_Logger"
						doc:id="893de7e5-bb7e-4c5d-a5ff-b4c6c82f7556"
						message='#["Error occured while sending sms"]' />
				</on-error-continue>
			</error-handler>
		</try>
	</flow>
</mule>
